body {
    width: 100%;
    font-family: Gill Sans,Gill Sans MT,Calibri,sans-serif;
}

p {
    font-family: Gill Sans,Gill Sans MT,Calibri,sans-serif;
    font-weight: 100;
    font-size: 24px;
}

h1 {
    font-family: Gill Sans,Gill Sans MT,Calibri,sans-serif;
    font-weight: 500;
    font-size: 36px;
}

.sticky-top {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 40px;
    width: 100%;
}

.node {
    cursor: pointer;
    stroke: black;
    stroke-width: 1.5px;
}

.link {
    fill: none;
    stroke: black;
    stroke-width: 1.5px;
}

.link-path {
    fill: none;
    stroke: orange;
    stroke-width: 3px;
}

.hidden {
    visibility: hidden;
}

.container {
    height: 100%;
    width: 100%;
}

.line {
    fill: none;
}

.line--speed {
    stroke: black;
    stroke-width: 0.5;
}

.handle {
    pointer-events: none;
}

.overlay {
    pointer-events: none;
}

g.brush > .resize {
    display: none;
}

svg {
    width: 100%;
    overflow: visible !important;
}

.top-buffer {
    margin-top: 20px;
}

.top-buffer-extra {
    margin-top: 40px;
}

.top-padding-extra {
    padding-top: 40px;
}

.bar {
    padding: 10px;
    margin: 10px
}

button {
    max-width: 100px;
    max-height: 50px;
    -webkit-transition: max-width 1s, max-height 1s;
    transition: max-width 1s;
    display: inline-block;
    vertical-align: top;
    white-space: nowrap;
    overflow: hidden;
}

button:hover {
    max-width: 200px;
    max-height: 100px;
}

button.active {
    max-width: 200px;
}

.anomaly {
    stroke: #FBB040;
    stroke-width: 7px;
}

.no-anomaly {
    stroke: #8DC63F;
    stroke-width: 3px;
}

.bar--anomaly {
    fill: #FBB040;
    stroke: black;
    stroke-width: 1px;
}

.bar--no-anomaly {
    fill: #8DC63F;
    stroke: black;
    stroke-width: 1px;
}

.decision-boundary {
    stroke: black;
    stroke-dasharray: 10px;
    stroke-width: 3px;
}

a {
    color: black;
}

a:active {
    text-decoration: underline;
}

a:hover {
    color: black;
}

.sidebar-nav-fixed {
    margin-top: 40px;
}

.list-group {
    -webkit-padding-start: 10px;
}

.list-group-item {
    background-color: white;
}

.sidebar-nav-fixed a {
    position: absolute;
    right: 5%;
    left: auto;
}

.list-group-item {
    height: 45px;
}

.text-container-right {
    padding-right: 10%;
}

.text-container-left {
    padding-right: 10%;
}

.text-container {
    padding-top: 20px;
    padding-right: 5%;
}

input {
    margin-right: 10px;
}

.d3-tip {
    line-height: 1;
    font-weight: bold;
    padding: 12px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 2px;
    z-index: 3000;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
    box-sizing: border-box;
    display: inline;
    font-size: 10px;
    width: 100%;
    line-height: 1;
    color: rgba(0, 0, 0, 0.8);
    content: "\25BC";
    position: absolute;
    text-align: center;
    z-index: 3000;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
    margin: -1px 0 0 0;
    top: 100%;
    left: 0;
}

.hidden {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
}

.visible {
    visibility: visible;
    opacity: 1;
    transition: visibility 0s, opacity 0.5s linear;
}

.axis-label {
    font-size: 14px;
}

.left-buffer {
    margin-left: 20px;
}

#forest {
    overflow: hidden;
}

svg {
    overflow: visible;
}

.overflow-scroll {
    overflow: scroll;
}

.pie-label {
    font-size: 24px;
}

.timeline {
    overflow: visible;
}

.overflow-hidden {
    overflow: hidden;
}

.episode-container {
    margin-bottom: 5%;
}
